<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my-blackout.css}" href="../static/css/my-blackout.css">
    <title>Aero-dev</title>
</head>
<body>

<!-- Navigation bar -->

<div th:if="${session.client != null}">
    <div th:replace="fragments/navbar :: authorized"></div>
</div>
<div th:if="${session.client == null}">
    <div th:replace="fragments/navbar :: not_authorized"></div>
</div>

<div th:if="${param.error}">
    <div class="alert alert-danger alert-dismissible w-50 mx-auto"
         style="z-index: 1080; position: fixed; left: calc(100vw - 76.25%); top: 10%;" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>Error while signing in!</h4>
        <hr>
        <p>Error message</p>
    </div>
</div>

<!-- Sign-up modal -->
<div th:replace="fragments/sign_up_modal :: sign_up"></div>

<!-- Hello bar -->

<div class="container-fluid p-0" style="margin-top: 3.5em;">
    <div class="row w-100 m-0">
        <div class="col p-0 blackout">
            <div class="image">
                <img class="img-fluid" th:src="@{/img/background.jpg}" src="../static/img/background.jpg" alt=""/>
            </div>
            <div class="card-img-overlay text-center" style="color: #9ab5bf; margin-top: 10em;">
                <h1 class="display-3 mt-3">
                    Welcome to aviation sandbox!
                </h1>
                <p class="lead">Here You can invite something new and share with Your experience to another
                    engineers.</p>
                <hr class="my-4 border w-50">

                <a href="#info" class="btn btn-lg btn-outline-primary rounded-0" style="opacity: 0.75">Learn more</a>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<!-- top 3 projects -->

<div class="container-fluid my-5">
    <div class="display-4 my-4 text-center">
        top three projects
    </div>
    <div class="row">
        <div class="col" th:each="project: ${top_prj}">
            <div class="card text-white bg-dark border-0">
                <div class="blackout" style="position: relative;">
                    <a th:href="@{'/project/' + ${project.getProjectId()}}">
                        <div class="image">
                            <img class="card-img-top" th:src="@{'/project/logo/' + ${project.getProjectId()}}"
                                 src="../static/img/project_face_example.jpg"
                                 alt="Project's face image"
                                 style="max-height: 15em; display: block; object-fit: cover;">
                        </div>
                    </a>
                    <div class="card-img-overlay" style="margin-top: -15px; max-height: 80px;">
                        <a href="#" class="badge badge-dark" style="margin-left: -10px; background-color: #1b1e21;"
                           th:text="${project.getProjectType()}"></a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${project.getProjectName()}"></h5>
                    <p class="card-text">Small description of project</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top 3 engineers -->

<div class="container-fluid my-5">
    <div class="display-4 my-4 text-center">
        top three engineers
    </div>
    <div class="row">
        <div class="col" th:each="top_user: ${top_users}">
            <div class="card border-0">
                <a th:href="@{'/user/' + ${top_user.userId}}" class="mx-auto">
                    <img class="card-img-top rounded-circle" th:src="@{'/avatar/' + ${top_user.getUserId()}}"
                         src="../static/img/Bob.jpg"
                         style="object-fit: cover; height: 15em; width: 15em;">
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title" th:text="${top_user.getUserName()}"></h5>
                    <p class="card-text"> Rating:
                        <span class="badge badge-primary badge-pill" th:text="${top_user.getUserRating()}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top 3 companies -->

<div class="container-fluid my-5">
    <div class="display-4 my-4 text-center">
        top three companies
    </div>
    <div class="row">
        <!-- company #1 -->
        <div class="col d-flex justify-content-center">
            <a class="mt-auto" href="">
                <img th:src="@{/img/kosmos.png}" src="../static/img/kosmos.png"
                     style="object-fit: cover; max-width: 20em; max-height: 20em;">
            </a>
        </div>
        <!-- company #2 -->
        <div class="col d-flex justify-content-center">
            <a class="mt-auto" href="">
                <img th:src="@{/img/rosteh.png}" src="../static/img/rosteh.png"
                     style="object-fit: cover; max-width: 20em; max-height: 20em;">
            </a></div>
        <!-- company #3 -->
        <div class="col d-flex justify-content-center">
            <a class="mt-auto" href="">
                <img th:src="@{/img/tsagi.png}" src="../static/img/tsagi.png"
                     style="object-fit: cover; max-width: 20em; max-height: 20em;">
            </a></div>
    </div>
    <div class="row">
        <!-- company #1 -->
        <div class="col d-flex justify-content-center">
            <div class="card-body text-center">
                <h5 class="card-title">Company's name</h5>
                <p class="card-text">Company's info</p>
            </div>
        </div>
        <!-- company #2 -->
        <div class="col d-flex justify-content-center">
            <div class="card-body text-center">
                <h5 class="card-title">Company's name</h5>
                <p class="card-text">Company's info</p>
            </div>
        </div>
        <!-- company #3 -->
        <div class="col d-flex justify-content-center">
            <div class="card-body text-center">
                <h5 class="card-title">Company's name</h5>
                <p class="card-text">Company's info</p>
            </div>
        </div>
    </div>
</div>

<!-- About project -->

<div class="container-fluid my-5">
    <div th:replace="fragments/about :: about"></div>
</div>

<!-- Footer -->

<div class="container-fluid mt-5 bg-dark text-white" style="height: 150px">
    <div class="row">
        <div class="col mt-4">
            <div class="text-center">
                <h4>Made by Yusupov Danil</h4>
                <h5>For educational purposes only</h5>
                <h6>Kazan 2018</h6>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{/js/home.js}" src="../static/js/home.js"></script>

</body>
</html>