<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my-blackout.css}" href="../static/css/my-blackout.css"/>
    <title>Project name</title>
</head>
<body>

<!-- Navigation bar -->

<div class="pos-f-t fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Here will be more menu's buttons</h4>
            <span class="text-muted">Not a joke/</span>
        </div>
    </div>
    <nav class="navbar navbar-light" style="background-color: #f8f9fa">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-2">
                    <a href="/home">
                        <svg id="i-home" class="ml-1 mt-1" viewBox="0 0 32 32" width="32" height="32" fill="none"
                             stroke="currentcolor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z"/>
                        </svg>
                    </a>
                </div>
                <div class="col" style="max-height: 50px">
                    <div class="float-right">
                        <button class="navbar-toggler rounded-0 float-right ml-4"
                                style="height: 2em; width: 3.5em; margin-right: -11px;" type="button"
                                data-toggle="collapse"
                                data-target="#navbarToggleExternalContent"
                                aria-controls="navbarToggleExternalContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <svg id="i-menu" viewBox="0 0 32 32" width="32" height="32" fill="none"
                                 stroke="currentcolor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24"/>
                            </svg>
                        </button>
                    </div>
                    <div class="float-right">
                        <div class="dropdown blackout">
                            <a class="image btn" style="margin-top: -7px; margin-bottom: -7px;" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle" src="../static/img/engineer_example.jpg"
                                     th:src="@{/img/engineer_example.jpg}"
                                     style="object-fit: cover; height: 2.6em; width: 2.6em;" data-toggle="tooltip"
                                     title="Your name">
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="">Something</a>
                                <a class="dropdown-item" href="">Settings</a>
                                <a class="dropdown-item" href="">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Content -->

<div class="row" style="margin-top: 3.5em;">

    <!-- Project logo and info -->
    <div class="col-3">

        <!-- Logo and info -->
        <div class="row">
            <div class="col p-3 ml-3" style="max-width: 400px;">
                <div class="card bg-dark text-light border-0">
                    <img class="card-img-top" src="../static/img/prj_logo_example.png"
                         th:src="@{/img/prj_logo_example.png}" style=" object-fit: cover; max-height: 400px;">
                    <div class="card-img-overlay" style="margin-top: -15px;">
                        <a href="#" class="badge badge-success" style="margin-left: -10px;">Aerodynamics</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p href="" class="card-text">Owner</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="card-text">Info</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Images, description and files -->
    <div class="col mt-3" style="margin-left: -20px; margin-right: 10px;">
        <!-- Images carousel -->
        <div class="row">
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="height: 50vh;">
                        <div class="carousel-item active my-auto">
                            <img class="d-block w-100" src="../static/img/project_face_example.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item my-auto">
                            <img class="d-block w-100" src="../static/img/project_img_2.jpg" alt="Second slide"
                            >
                        </div>
                        <div class="carousel-item my-auto">
                            <img class="d-block w-100" src="../static/img/project_img_3.jpg" alt="Third slide"
                            >
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Project description</h5>
                        <p class="card-text">Some text here...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Files -->
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-link">Add file...</button>
                <ul class="list-group">
                    <li class="list-group-item">File #1 <a href="" class="float-right">dwnld</a></li>
                    <li class="list-group-item">File #2 <a href="" class="float-right">dwnld</a></li>
                    <li class="list-group-item">File #3 <a href="" class="float-right">dwnld</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>