<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my-blackout.css}" href="../static/css/my-blackout.css"/>
    <title>User name</title>
</head>
<body>

<!-- Navigation bar -->

<div class="pos-f-t fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Here will be more menu's buttons</h4>
            <span class="text-muted">Not a joke/</span>
        </div>
    </div>
    <nav class="navbar navbar-light" style="background-color: #f8f9fa">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-2">
                    <a href="/home">
                        <svg id="i-home" class="ml-1 mt-1" viewBox="0 0 32 32" width="32" height="32" fill="none"
                             stroke="currentcolor"
                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z"/>
                        </svg>
                    </a>
                </div>
                <div class="col" style="max-height: 50px">
                    <div class="float-right">
                        <button class="navbar-toggler rounded-0 float-right ml-4"
                                style="height: 2em; width: 3.5em; margin-right: -11px;" type="button"
                                data-toggle="collapse"
                                data-target="#navbarToggleExternalContent"
                                aria-controls="navbarToggleExternalContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <svg id="i-menu" viewBox="0 0 32 32" width="32" height="32" fill="none"
                                 stroke="currentcolor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24"/>
                            </svg>
                        </button>
                    </div>
                    <div class="float-right">
                        <div class="dropdown blackout">
                            <a class="image btn" style="margin-top: -7px; margin-bottom: -7px;" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle" src="../static/img/engineer_example.jpg"
                                     th:src="@{/img/engineer_example.jpg}"
                                     style="object-fit: cover; height: 2.6em; width: 2.6em;" data-toggle="tooltip"
                                     title="Your name">
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="">Something</a>
                                <a class="dropdown-item" href="">Settings</a>
                                <a class="dropdown-item" href="">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Content -->
<div class="container-fluid" style="margin-top: 3.5em;">
    <div class="row">

        <!-- Photo and info col -->
        <div class="col-3">

            <!-- Photo and info-->
            <div class="row">
                <div class="col p-3" style="max-width: 400px;">
                    <div class="card bg-dark text-light border-0">
                        <img class="card-img-top" src="../static/img/engineer_example.jpg" th:src="@{/img/engineer_example.jpg}" style=" object-fit: cover; max-height: 400px;">
                        <div class="card-img-overlay" style="margin-top: -15px;">
                            <span class="badge badge-pill badge-primary" style="margin-left: -15px;">Engineer</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${user.getUserName()}"></h5>
                            <p class="card-text">Small biography</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="card-text">Statistics</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons and list col -->
        <div class="col">

            <!-- Buttons -->
            <div class="row mt-3" style="max-height: 80px;">
                <div class="col"><a href="" class="btn btn-link btn-lg">Projects</a></div>
                <div class="col"><a href="" class="btn btn-link btn-lg">Offers</a></div>
                <div class="col"><a href="" class="btn btn-link btn-lg">History</a></div>
                <div class="col"><a href="" class="btn btn-link btn-lg">Followers</a></div>
                <div class="col"><a href="" class="btn btn-link btn-lg">Following</a></div>
            </div>

            <!-- List -->
            <div class="row">
                <div class="col">
                    <!-- Here js data from servlets -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>