<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/my-blackout.css}" href="../../static/css/my-blackout.css"/>
</head>
<body>

<div th:fragment="sign_up">
    <div class="modal fade" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/home" class="was-validated">
                        <div class="form-row">
                            <div class="col mb-2">
                                <label for="name">Nickname</label>
                                <input id="name" name="name" type="text" class="form-control" placeholder="Ivan007"
                                       required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="male">Gender:</label>
                                <select id="male" name="male" class="custom-select">
                                    <option value="true" selected>Male</option>
                                    <option value="false">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-2">
                                <label for="email">E-mail</label>
                                <input id="email" name="email" type="text" class="form-control" placeholder="i007@mail.com"
                                       required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="text" class="form-control"
                                       placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" required>
                            </div>
                        </div>
                        <div class="btn-group float-right" role="group" aria-label="Form controls">
                            <button type="submit" class="btn btn-success btn-sm">Sign-up</button>
                            <button type="reset" class="btn btn-secondary btn-sm">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../../static/js/bootstrap.js"></script>
</body>
</html>